body {
  background-color: linear-gradient(lightgreen, green)
}

h1 {
  color: green;
  text-align: center;
}

p {
  font-family: verdana;
  font-size: 20px;
}

.diagonal-gradient {
  background: linear-gradient(to bottom right, green, lightgreen);
}