body {
  background: linear-gradient(to bottom right, green, lightgreen);
}

h1 {
  color: white;
  text-align: center;
}

p {
  font-family: verdana;
  font-size: 20px;
}

.diagonal-gradient {
  background: linear-gradient(to bottom right, green, lightgreen);
}