body {
  background: linear-gradient(90deg, rgba(28,213,96,1) 0%, rgba(0,255,184,1) 100%);
}

h1 {
  color: green;
  text-align: center;
}

p {
  font-family: verdana;
  font-size: 20px;
}

.diagonal-gradient {
  background: linear-gradient(to bottom right, green, lightgreen);
}